<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial investment</label>
      <input name="initial-investment" id="initial-investment" type="number" [(ngModel)]="enteredInitialInvestment"/>
    </p>
    <p>
      <label for="Annual-investment">Annual investment</label>
      <input name ="Annual-investment" id="Annual-investment" type="number" [(ngModel)]="enteredAnnualinvestment" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="Expected-investment">Expected investment</label>
      <input name="Expected-investment" id="Expected-investment" type="number" [(ngModel)]="enteredExpectedinvestment"/>
    </p>
    <p>
      <label for="duration">Duration</label>
      <input name="duration" id="duration" type="number" [(ngModel)]="enteredDuration" />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
